html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top:50px;
}

#map-canvas, #map_canvas {
    height: 100%;
}

@media print {
    html, body {
        height: auto;
    }

    #map-canvas, #map_canvas {
        height: 650px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .header-container {
        max-width: 850px;
    }
}

.clear {
	clear:both;
}

#map-container {
    height: 80%;
    position: relative;
}

.navbar-inverse {
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.navbar-inverse {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.navbar-inverse .navbar-brand {
    font-size: 29px;
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a  {
    color: #fff;
}

.navbar-inverse .navbar-brand span {
    font-size: 0.7em;
    font-weight: normal;
}

#email,
#nav-call2action {
    margin-top: 18px;
}

#marketing {
    text-align: center;
    font-size: 18px;
    padding: 4em 0 2em 0;
}

#tagline h2 {
    background-color: rgba(46, 204, 113, 1);
    padding: 15px 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 27px;
    line-height: 35px;
}

#tagline h2 span {
    font-size: 23px;
}

#tagline h2 span strong {
    font-size: 27px;
}

#tagline {
    position: absolute;
    bottom: -55px;
    width: 100%;
    z-index: 1;
}

#bubbleContent a {
    text-decoration: underline;
}

#star-comment {
    text-align: center;
}

#content, #filters{
	max-width:730px;
	margin:auto;
}

#content #filters .category {
	float:left;
	padding:5px 10px;
	border-radius:10px;
	margin:10px;
	background-color:#eaeaea;
}

#content #filters .category:hover {
	cursor:pointer;
	background-color:#dedede;
}